<section class="container my-5 px-5">
    <h2 class="text-capitalize h1">portoflio</h2>
    <div class="row justify-content-around text-uppercase text-center my-5">
        <div class="col-sm-12 col-md-3 bg-secondary position-relative p-0 mb-3 shadow-sm rounded" style="height: 200px;">
            <p class="position-absolute top-50 start-50 m-0 p-0 py-3 translate-middle fs-5 fw-medium border-bottom text-white">{{portoflio[0]}}</p>
        </div>    
        <div class="col-sm-12 col-md-3 bg-dark position-relative p-0 mb-3 shadow-sm rounded" style="height: 200px;">
            <p class="position-absolute top-50 start-50 m-0 p-0 py-3 translate-middle fs-5 fw-medium border-bottom text-white">{{portoflio[1]}}</p>
        </div>    
        <div class="col-sm-12 col-md-3 bg-secondary position-relative p-0 mb-3 shadow-sm rounded" style="height: 200px;">
            <p class="position-absolute top-50 start-50 m-0 p-0 py-3 translate-middle fs-5 fw-medium border-bottom text-white">{{portoflio[2]}}</p>
        </div>     
    </div>
    <div class="row justify-content-around text-uppercase text-center mb-5">
        <div class="col-sm-12 col-md-3 bg-dark position-relative p-0 mb-3 shadow-sm rounded" style="height: 200px;">
            <p class="position-absolute top-50 start-50 m-0 p-0 translate-middle fs-5 fw-medium text-white">{{portoflio[3]}}</p>
        </div>    
        <div class="col-sm-12 col-md-3 bg-secondary position-relative p-0 mb-3 shadow-sm rounded" style="height: 200px;">
            <p class="position-absolute top-50 start-50 m-0 p-0 translate-middle fs-5 fw-medium text-white">{{portoflio[4]}}</p>
        </div>    
        <div class="col-sm-12 col-md-3 bg-dark position-relative p-0 mb-3 shadow-sm rounded" style="height: 200px;">
            <p class="position-absolute top-50 start-50 m-0 p-0 translate-middle fs-5 fw-medium text-white">{{portoflio[5]}}</p>
        </div>     
    </div>
</section>
